    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
    }

    body {
        font-family: 'Avenir Next', sans-serif;
    }

    header {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;

        .max-width-container {
            max-width: 1285px;
            margin: 0 auto;

            nav {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .header-logo {
                    margin-left: -15px;

                    a {
                        img {
                            width: 400px;
                        }
                    }
                }

                .buy-btn {
                    a.btn {
                        background-color: #1750DB;
                        color: #fff;
                        padding: 8px 25px;
                        margin-right: 45px;
                        border-radius: 5px;
                    }

                    img {
                        width: 25px;
                    }
                }
            }

            // banner Section 
            .header-banner {
                display: flex;

                .banner-text {
                    margin-right: 100px;

                    .banner-heading {
                        font-size: 40px;
                        color: #000;
                        margin-top: 55px;
                        font-weight: bold;
                    }

                    span {
                        color: #1750DB;
                        ;
                    }

                    .short-hearding {
                        font-size: 16px;
                        margin-top: 25px;
                    }

                    .shop-btn {
                        margin-top: 25px;

                        .btn {
                            background-color: #1750DB;
                            color: #fff;
                            padding: 10px 45px;
                            margin-right: 45px;
                            border-radius: 5px;
                        }
                    }

                    p {
                        font-size: 12px;
                        margin-top: 25px;
                    }
                }

                .banner-image {
                    img {
                        width: 300px;
                    }
                }
            }
        }
    }

    // Header background Image 
    .bg-image {
        background-image: url(../image/bg-banner.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 380px;
        background-position: top right;
    }

    // Features Section
    .features-max-width {
        max-width: 1685px;
        margin: 0 auto;

        .features-box {
            margin: 0 auto;
            color: #fff;
            background-color: #1750DB;
            position: relative;
            margin-top: -50px;
            margin-bottom: 100px;
            // border-Radius Section 
            padding: 50px 50px;
            border-bottom-left-radius: 40px;
            border-bottom-right-radius: 40px;
            border-top-right-radius: 5px;
            border-top-left-radius: 45px;


            .features-heading {
                h2 {
                    font-size: 35px;
                    margin-bottom: 35px;
                    text-align: center;
                }
            }

            .features {
                display: flex;
                justify-content: space-between;

                .box-style {}

                .flex-box {
                    display: flex;
                }


                // Experience Section
                .features-experience {
                    &.box-style {}

                    .experience-flex {}

                    .experience-img {
                        img {
                            width: 75%;
                        }
                    }

                    .features-text {
                        h4 {}

                        p {}
                    }
                }

                // perfect-Fit Section
                .features-perfect-fit {
                    .perfect-fit-flex {

                        // display: flex;
                        .perfect-fit-img {
                            img {
                                width: 75%;
                            }
                        }

                        .features-text {
                            h4 {}

                            p {}
                        }
                    }

                }

                // Professional Section 
                .features-professional {
                    .professionale-flex {
                        .professional-img {
                            img {
                                width: 75%;
                            }
                        }

                        .features-text {
                            h4 {}

                            p {}
                        }
                    }
                }
            }
        }
    }

    // Banner Logo Section 
    .banner-max-width {
        max-width: 1285px;
        margin: 0 auto;

        .web-logo {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-gap: 100px;
            align-items: center;
            margin-bottom: 100px;
        }

        &.logo {
            // width: 1000px;
        }
    }

    //   Pricing Section From Here 
    .price-heading {
        margin-bottom: 45px;

        h2 {
            text-align: center;
            font-weight: bold;
            font-size: 35px;
        }

        span {
            color: #1750DB;
            font-weight: bold;
        }
    }

    .main-box {
        max-width: 1285px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;

        .banner-max-width {
            .price-list {
                .product-image {
                    img {
                        width: auto;
                    }
                }

                .review {
                    margin-top: 75px;

                    .star-image {

                        img {
                            width: 15px;
                            margin-bottom: 10px;
                        }

                        span {
                            font-size: 15px;
                            position: absolute;
                            padding-left: 10px;
                        }
                    }

                    .short-heading {
                        h3 {
                            font-weight: bold;
                            margin-bottom: 10px;
                        }

                        p {
                            margin-bottom: 10px;
                        }

                        .price {
                            font-weight: 700;
                            margin-bottom: 15px;
                        }
                    }

                    .price-view {
                        margin-top: 35px;
                        background-color: #0542D9;
                        text-align: center;
                        border-radius: 10px;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        padding-left: 15px;
                        padding-right: 15px;

                        a {
                            text-align: center;
                            text-decoration: none;
                            color: #fff;

                            .arrow {
                                padding-left: 10px;
                            }
                        }
                    }

                    // price Descripation From here 
                    .short-dec {
                        .short-flex {
                            display: flex;
                            position: absolute;
                            align-items: center;
                            text-align: center;
                        }

                        img {
                            width: 20px;
                            margin-bottom: 10px;
                            // position: absolute;
                        }

                        p {
                            font-size: 15px;
                            padding-left: 20px;
                            padding-left: 30px;
                            margin-bottom: 15px;
                            // position: relative;
                        }
                    }
                }
            }
        }
    }

    //  pricing Logo 
    .price-container {
        max-width: 1000px;
        margin: 0 auto;

        .price-logo {
            display: flex;
            justify-content: space-around;
            margin-top: 45px;
            margin-bottom: 50px;

            .icons {
                img {
                    width: auto;
                }

                .title {
                    FONT-SIZE: 15px;
                    font-weight: bold;
                    margin-top: 20px;
                }
            }
        }
    }

    // video Section Form Here
    .video-title {
        display: flex;
        align-items: center;
        justify-content: center;

        h2 {
            font-size: 50px;
            margin-bottom: 250px;

            .blue {
                font-size: 50px;
                color: #0341d8;
            }

        }
    }

    .video-max-width {
        max-width: 1285px;
        margin: 0 auto;
        background-color: #ebf1ff;

        .video-max-width {
            display: flex;
            justify-content: space-between;
            position: relative;
            bottom: 160px;
            grid-gap: 30px;

            .video {
                .video-image {
                    display: flex;
                    justify-content: center;
                }

                .video-content {
                    text-align: center;
                    box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
                    border-radius: 40px;
                    margin-top: 45px;
                    padding: 20px;

                    h4.video-title {
                        font-size: 28px;
                    }

                    p {
                        font-size: 22px;
                    }

                    a.shane {
                        line-height: 7;
                        text-align: center;
                        font-size: 22px;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }

    // How it worke Box  Section 
    .box-2 {
        background-color: #0341d8;
        max-width: 1685px;
        margin: 0 auto;
        border-radius: 46px 0 0 46px;
        position: relative;
        bottom: 145px;

        .main-title {
            display: flex;
            justify-content: center;
            font-size: 45px;
            color: #fff;
            padding: 22px 0;

            .blue {
                color: #7ea2fa;
                margin-left: 10px;
            }
        }

        .boxes-2 {
            display: flex;
            justify-content: space-between;
            max-width: 1350px;
            margin: 0 auto;
            border-radius: 25px;
            color: #fff;

            .main.data-2 {}

            .order-box {
                display: flex;
                justify-content: center;

                img {}
            }

            .heading {
                line-height: 1.9;
                font-size: 27px;
                text-align: center;
            }

            .decription {
                text-align: center;
            }
        }
    }

    // Labe Section here 
    .container {
        max-width: 1285px;
        margin: 0 auto;

        .detail {
            display: flex;
            justify-content: space-around;
            padding: 20px 0;

            .left {
                img {}
            }

            .right {
                position: relative;
                top: 130px;
                line-height: 1.3;

                .title {
                    font-size: 40px;

                    .blue {
                        color: #0341d8;
                        margin-left: 10px;
                    }
                }

                p {
                    font-size: 25px;
                }

                a {
                    padding: 10px 20px;
                    margin-right: 75px;
                    background-color: #0341d8;
                    color: #fff;
                    border: 0;
                    border-radius: 5px;

                    .img {
                        width: 40px;
                        position: relative;
                        bottom: -15px;
                    }
                }
            }
        }
    }