@font-face {
    font-family: 'Gilmer';
    src: url('Gilmer-Bold.woff2') format('woff2'),
        url('Gilmer-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

